body, html {
    margin: 0;
    height: 100%;
    background-color: #EE1529; /* Updated background color */
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    width: 50%;  /* 50% of the viewport width */
    height: auto; /* Maintains the aspect ratio */
}
